#home-brand-personality {
  background: var(--background-white);
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;

  .header {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-bottom: 2.1875rem;
    text-align: center;
    max-width: 41.6875rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5625rem;
  }

  .brand-personality-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.9375rem;

    .brand-personality-card {
      padding: 2.5rem 2rem 4.375rem 2rem;
      border-radius: 0.3125rem;
      background: var(--accent);
      -webkit-transition: -webkit-transform 0.25s ease;
      transition: -webkit-transform 0.25s ease;
      -o-transition: transform 0.25s ease;
      transition: transform 0.25s ease;
      transition: transform 0.25s ease, -webkit-transform 0.25s ease;

      &:hover {
        -webkit-transform: scale(0.98);
        -ms-transform: scale(0.98);
        transform: scale(0.98);
      }

      .brand-personality-title {
        font-size: 1.75rem;
        line-height: 1.75rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
      }

      .brand-personality-content {
        font-size: 1.125rem;
        line-height: 1.875rem;
        margin-bottom: 1.5rem;
      }

      .brand-personality-link-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        text-decoration: none;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        gap: 0.5625rem;
        -webkit-transition: gap 0.25s ease;
        -o-transition: gap 0.25s ease;
        transition: gap 0.25s ease;

        &:hover {
          gap: 0.8rem;
        }

        .brand-personality-link-text {
          font-size: 0.75rem;
          font-weight: 500;
          color: var(--text1);
          margin-bottom: 0rem;
        }
      }
    }

    .highlight {
      color: var(--text-white);
      background: var(--secondary);

      .brand-personality-link-container {
        .brand-personality-link-text {
          color: var(--text-white);
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #home-brand-personality {
    .container {
      max-width: 1310px;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 991.98px) {
  #home-brand-personality {
    .brand-personality-grid {
      .brand-personality-card {
        .brand-personality-title {
          font-size: 1.5rem;
          line-height: 1.625rem;
          text-align: center;
        }

        .brand-personality-content {
          font-size: 1rem;
          line-height: 1.75rem;
          text-align: center;
        }

        .brand-personality-link-container {
          margin: auto;
        }
      }
    }
  }
}

@media screen and (max-width: 767.98px) {
  #home-brand-personality {
    .header {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }
}
