#home-brand-personality {
  background: var(--background-white);
  padding-top: 4.375rem;
  padding-bottom: 4.375rem;

  .header {
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: 700;
    margin-bottom: 2.1875rem;
    text-align: center;
    max-width: 41.6875rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3.5625rem;
  }

  .brand-personality-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 0.9375rem;

    .brand-personality-card {
      padding: 2.5rem 2rem;
      border-radius: 0.3125rem;
      background: var(--accent);
    }
  }
}

@media screen and (min-width: 992px) {
  #home-brand-personality {
    .container {
      max-width: 1310px;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 991.98px) {
  #home-brand-personality {
  }
}

@media screen and (max-width: 767.98px) {
  #home-brand-personality {
    .header {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }
}
