.rap-primary-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 400;
  //   padding: 0.8575rem 2rem !important;
  padding: 1.125rem 2rem !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-radius: 0.125rem !important;
  background: var(--primary);
  color: #ffffff;
}
