/***********************************Proxima Nova************************************/
@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"),
    url(../../../assets/fonts/ProximaNova/ProximaNova-Thin.woff2) format("woff2");
  font-weight: 200;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"),
    url(../../../assets/fonts/ProximaNova/ProximaNova-Regular.woff2) format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"),
    url(../../../assets/fonts/ProximaNova/ProximaNova-Semibold.woff2) format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"),
    url(../../../assets/fonts/ProximaNova/ProximaNova-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Proxima Nova";
  src: local("Proxima Nova"),
    url(../../../assets/fonts/ProximaNova/ProximaNova-Extrabold.woff2) format("woff2");
  font-weight: 900;
}
/***********************************************************************************/
