<section id="who-we-are-why-we-exist">
  <div class="container">
    <p class="title">Why we exist</p>

    <h1 class="header">
      To empower, promote and develop women to occupy key roles in the Tourism &
      Hospitality industry in Africa.
    </h1>

    <div class="grid-container">
      <div class="content">
        <div class="keypoint-container">
          <div class="number-container">
            <p class="number">1</p>

            <svg
              width="28"
              height="155"
              viewBox="0 0 28 155"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M19.8705 1C51.4407 33 -35.3773 87 19.8705 154"
                stroke="var(--primary)"
                stroke-linecap="round"
                stroke-dasharray="4 4"
              />
            </svg>
          </div>

          <div class="keypoint-content">
            <p class="keypoint-header">Empower women</p>

            <p class="keypoint-text">
              We have committed to empowering our own African Women to grow, to
              deliver impactful, engaging and transformational work through best
              practices for the industry we are passionate about.
            </p>
          </div>
        </div>

        <div class="keypoint-container">
          <div class="number-container">
            <p class="number">2</p>

            <svg
              width="33"
              height="155"
              viewBox="0 0 33 155"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M20.8445 0.999999C-37.5297 77.5 54.1986 81.9737 26.7291 154"
                stroke="var(--primary)"
                stroke-linecap="round"
                stroke-dasharray="4 4"
              />
            </svg>
          </div>

          <div class="keypoint-content">
            <p class="keypoint-header">Promote women</p>

            <p class="keypoint-text">
              Our value drivers include training / knowledge transfer, instant
              mentoring, upskilling and networking to create a truly
              personalized journey to the top.
            </p>
          </div>
        </div>

        <div class="keypoint-container">
          <div class="number-container">
            <p class="number">3</p>
          </div>

          <div class="keypoint-content">
            <p class="keypoint-header">Develop women to occupy key roles</p>

            <p class="keypoint-text">
              We believe in building capacity and delivering value for the
              industry through women who play an active role in the boardroom
              and frontlines. Where women have equality at the top, we see
              stronger, more resilient societies.
            </p>
          </div>
        </div>
      </div>

      <div class="illustration-container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui odio
        aspernatur harum repellat. Tempore, necessitatibus itaque. Eveniet, est.
        Recusandae cum repellendus laudantium reprehenderit dolores, modi
        debitis omnis quibusdam facere at!
      </div>
    </div>

    <div class="cta-container">
      <button class="btn primary-btn">Become a member</button>
    </div>
  </div>
</section>
