<div id="home-who-we-serve">
  <div class="box-design"></div>

  <div class="container">
    <div class="grid-container">
      <div class="illustration-container">
        <img
          src="/assets/images/who-we-serve.png"
          alt=""
          class="illustration"
        />

        <div class="stepper-container">
          <div class="progress-bar-container">
            <div #progressBar class="progress-bar"></div>
          </div>

          <div class="steps">
            <div
              class="step"
              [ngClass]="{ active: progressBarHeight < 83.33333333333333 }"
            >
              Empower women
            </div>
            <div
              class="step"
              [ngClass]="{
                active:
                  progressBarHeight > 83.33333333333333 &&
                  progressBarHeight < 166.6666666666667
              }"
            >
              Promote women
            </div>
            <div
              class="step"
              [ngClass]="{
                active:
                  progressBarHeight > 166.6666666666667 &&
                  progressBarHeight < 250
              }"
            >
              Develop women to occupy key roles
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <p class="title">Who we serve</p>

        <h1 class="header">
          We are focused on the African Woman. We are creators breaking
          barriers, caregivers, enablers, guardians, goal getters. We have an
          entrepreneurial mindset and are eternal optimists.
        </h1>
      </div>
    </div>
  </div>
</div>
