#home-who-we-serve {
  position: relative;
  background: var(--accent);
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  overflow: hidden;

  .box-design {
    position: absolute;
    left: -3%;
    bottom: 0rem;
    width: 15rem;
    height: 15rem;
    background: var(--accent-dark);
    border-radius: 1rem;
    z-index: -1;
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

  .grid-container {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 12.5rem;
  }

  .illustration-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    .illustration {
      max-width: 100%;
      margin-bottom: 2.1875rem;
    }

    .stepper-container {
      display: grid;
      grid-template-columns: 0.09375rem 1fr;
      gap: 1.25rem;

      .progress-bar-container {
        position: relative;
        width: 0.09375rem;
        height: 220px;
        background: #f0f1f7;

        .progress-bar {
          position: absolute;
          top: 0;
          left: 0;
          background: var(--primary);
          width: 0.09375rem;
          height: 0px;
          -webkit-transition: height 0.25s linear;
          -o-transition: height 0.25s linear;
          transition: height 0.25s linear;
        }
      }

      .steps {
        .step {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          height: 83.33333333333333px;
          font-size: 1rem;
          -webkit-transition: font-weight 0.25s linear;
          -o-transition: font-weight 0.25s linear;
          transition: font-weight 0.25s linear;

          &.active {
            font-size: 1.125rem;
            font-weight: 700;
          }
        }
      }
    }
  }

  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    .title {
      font-size: 1rem;
      line-height: 1.75rem;
      font-weight: 700;
      margin-bottom: 1rem;
      color: var(--primary);
    }

    .header {
      font-size: 1.5rem;
      line-height: 1.2rem;
      font-weight: 600;
      margin-bottom: 0.9375rem;

      span {
        font-size: 1rem;
        font-weight: 400;
      }
    }

    .text {
      font-size: 1.125rem;
      line-height: 1.375rem;
      margin-bottom: 3.25rem;
    }
  }
}

@media screen and (min-width: 992px) {
  #home-who-we-serve {
    .container {
      max-width: 1310px;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 991.98px) {
  #home-who-we-serve {
    .grid-container {
      grid-template-columns: 1fr;
      gap: 3.125rem;
    }
  }
}

@media screen and (max-width: 767.98px) {
  #home-who-we-serve {
    .content {
      .header {
        font-size: 1.25rem;
        line-height: 2rem;
      }
    }
  }
}
