<div id="home-who-we-serve">
  <div class="box-design"></div>

  <div class="container">
    <div class="grid-container">
      <div class="illustration-container">
        <img
          src="/assets/images/who-we-serve.png"
          alt=""
          class="illustration"
        />

        <div class="stepper-container">
          <div class="progress-bar-container">
            <div #progressBar class="progress-bar"></div>
          </div>

          <div class="steps">
            <div
              class="step"
              [ngClass]="{ active: progressBarHeight < 73.33333333333333 }"
            >
              Women Tourism Hospitality Professionals Stakeholders
            </div>
            <div
              class="step"
              [ngClass]="{
                active:
                  progressBarHeight > 73.33333333333333 &&
                  progressBarHeight < 146.6666666666667
              }"
            >
              Students Aspiring Profesionals
            </div>
            <div
              class="step"
              [ngClass]="{
                active:
                  progressBarHeight > 146.6666666666667 &&
                  progressBarHeight < 220
              }"
            >
              Women workers
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <p class="title">Who we serve</p>

        <h1 class="header">
          Professionals
          <span
            >(students, individual subscribers or members of the
            association):</span
          >
        </h1>

        <p class="text">
          “My craft is my career. Connect me to my community and give me access
          to the knowledge Ineed to own my future.”
        </p>

        <h1 class="header">
          Organizations
          <span>(Value drivers, businesses in the industry):</span>
        </h1>

        <p class="text">
          “I have a vision for my team.Give me access to the people, skills and
          insights Ineed to realize it.”
        </p>

        <h1 class="header">
          Mentors
          <span>(the people who share their knowledge):</span>
        </h1>

        <p class="text">
          “I want to share my knowledge with her .Give me a platform to teach
          and connect me with other passionate experts and aspiring female
          professionals .”
        </p>
      </div>
    </div>
  </div>
</div>
