#home-who-we-serve {
  position: relative;
  background: var(--accent);
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  overflow: hidden;

  .box-design {
    position: absolute;
    left: -3%;
    bottom: 0rem;
    width: 15rem;
    height: 15rem;
    background: var(--accent-dark);
    border-radius: 1rem;
    z-index: -1;
    -webkit-transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    transform: rotate(-60deg);
  }

  .grid-container {
    display: grid;
    grid-template-columns: 7fr 5fr;
    gap: 12.5rem;
  }

  .illustration-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .illustration {
      max-width: 100%;
    }
  }

  .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    .title {
      font-size: 1rem;
      line-height: 1.75rem;
      font-weight: 700;
      margin-bottom: 1rem;
      color: var(--primary);
    }

    .header {
      font-size: 1.5rem;
      line-height: 2.25rem;
      font-weight: 600;
      margin-bottom: 2.1875rem;
    }
  }
}

@media screen and (min-width: 992px) {
  #home-who-we-serve {
    .container {
      max-width: 1310px;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 991.98px) {
  #home-who-we-serve {
    .grid-container {
      grid-template-columns: 1fr;
      gap: 3.125rem;
    }
  }
}

@media screen and (max-width: 767.98px) {
  #home-who-we-serve {
    .content {
      .header {
        font-size: 1.25rem;
        line-height: 2rem;
      }
    }
  }
}
