<header #header>
<!-- <header #header (window:resize)="manageHeaderSlideAnimation()"> -->
  <nav>
    <div class="container">
      <div class="brand">
        <a routerLink="/">
          <img src="/assets/images/logo.png" alt="" class="img-fluid" />
        </a>
      </div>

      <div class="links-container">
        <a routerLink="/who-we-are" routerLinkActive="active-link"
          >Who we are</a
        >
        <a
          routerLink="/what-we-do"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >What we do</a
        >
        <a
          routerLink="/news-and-stories"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >News and Stories</a
        >
        <a
          routerLink="/insight-and-resources"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >Insight & Resources</a
        >
        <a
          routerLink="/newsletter"
          routerLinkActive="active-link"
          [routerLinkActiveOptions]="{ exact: true }"
          >Newsletter</a
        >
      </div>

      <div class="cta-container">
        <a routerLink="/" class="btn primary-btn">Become a member</a>
      </div>
    </div>
  </nav>
</header>
