<section id="who-we-are-founders">
  <div class="container">
    <div #header class="header-container">
      <h1 class="header">Founders</h1>
    </div>

    <div class="members-grid">
      <div class="member babatola-awe">
        <div class="member-content">
          <p class="member-name">African Woman</p>
          <p class="member-role">Co-Founder/CEO</p>

          <div class="member-info"></div>
        </div>
      </div>
      <div class="member akintayo-okekunle">
        <div class="member-content">
          <p class="member-name">African Woman</p>
          <p class="member-role">Co-Founder/CEO</p>

          <div class="member-info"></div>
        </div>
      </div>
      <div class="member simisola-isimi">
        <div class="member-content">
          <p class="member-name">African Woman</p>
          <p class="member-role">Co-Founder/CEO</p>

          <div class="member-info"></div>
        </div>
      </div>
    </div>
  </div>
</section>
