<div id="home-the-end-goal">
  <div class="background">
    <div class="container">
      <div class="grid-container">
        <div class="content">
          <p class="title">The end goal</p>

          <h1 class="header">Groom more Female Executives</h1>
        </div>

        <div class="illustration-container">
          <img
            src="/assets/images/the-end-goal.jpg"
            alt=""
            class="illustration"
          />
        </div>
      </div>
    </div>
  </div>
</div>
