<section id="who-we-are-we-believe">
  <div class="box-design"></div>

  <div class="container">
    <p class="text">
      We believe in changing the way Tourism and Hospitality is run in Africa.
      Our Ambition has been to
      <span
        >foster equal opportunities for all women of African descent operating
        in the tourism & hospitality Industry.</span
      >
      Our aim is to <span>empower</span>, <span>promote</span> and
      <span>develop women to occupy key roles</span>. That last part is key.
    </p>

    <p class="text">
      We believe in building capacity and delivering value for the industry
      through women who play an active role in the boardroom and frontlines.
      Where women have equality at the top, we see stronger, more resilient
      societies. They are natural care givers, they set the trends,they shape
      the industry.
    </p>

    <p class="text">
      We have committed to empowering our own African Women to grow, to deliver
      impactful, engaging and transformational work through best practices for
      the industry we are passionate about.
    </p>

    <p class="text">
      Our value drivers include training / knowledge transfer, instant
      mentoring, upskilling and networking to create a truly personalized
      journey to the top.
    </p>

    <p class="text">
      We are an association designed to empower women of African descent fulfil
      their economic and individual potential.
    </p>
  </div>
</section>
