<div id="home-landing">
  <div class="container">
    <div class="grid-container">
      <div class="content">
        <h1 class="header">
          We are Africa’s Tourism and Hospitality Champions for gender equality.
        </h1>

        <h3 class="subheader">
          We are a not-for-profit organization designed to
          <span>empower women</span> of <span>African descent</span> fulfil
          their economic and individual potential.
        </h3>

        <p class="text">
          We believe in building capacity and delivering value for
          transformation through women who play an active role in the boardroom
          and frontlines.
        </p>

        <div class="cta-container">
          <a routerLink="/" class="btn primary-btn">Learn more</a>
        </div>
      </div>

      <div class="illustration-container">
        <img
          src="/assets/images/home-landing.png"
          alt=""
          class="illustration"
        />
      </div>
    </div>
  </div>
</div>
