#home-blog-post {
  position: relative;
  background: var(--secondary);
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;
  overflow: hidden;

  .title {
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: var(--primary);
  }

  .header {
    font-size: 1.5rem;
    line-height: 1.2rem;
    font-weight: 600;
    margin-bottom: 2.1875rem;
    color: var(--text-white);
  }

  .subheader {
    font-size: 1.125rem;
    color: #91939e;
    margin-bottom: 2.5rem;
  }

  .blog-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(430px, 1fr));
    gap: 6.875rem;
    grid-auto-flow: dense;

    .blog-card {
      padding-bottom: 1.5rem;
      border-bottom: 1px solid #f4f5f7;

      .blog-header {
        font-size: 1.75rem;
        color: var(--text-white);
        margin-bottom: 1.75rem;
      }

      .blog-img {
        max-width: 100%;
        margin-bottom: 2.1875rem;
      }

      .bottom-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.25rem;

        .left-side {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          gap: 2.0625rem;

          .author {
            font-size: 1rem;
            font-weight: 700;
            color: var(--text-white);
            margin-bottom: 0rem;
          }

          .time {
            font-size: 0.875rem;
            font-weight: 400;
            color: #91939e;
            margin-bottom: 0rem;
          }
        }

        .right-side {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: end;
          -ms-flex-pack: end;
          justify-content: flex-end;

          .link {
            border: 1px solid var(--text-white);
            border-radius: 0.25rem;
            color: var(--text-white);
            padding: 0.625rem 1.25rem;
            background: transparent;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #home-blog-post {
    .container {
      max-width: 1310px;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 991.98px) {
  #home-blog-post {
  }
}

@media screen and (max-width: 767.98px) {
  #home-blog-post {
    .blog-grid {
      grid-template-columns: 1fr;
    }
  }
}
