<div id="home-how-we-behave">
  <div class="container">
    <div class="grid-container">
      <div class="illustration-container">
        <img
          src="/assets/images/how-we-behave.jpg"
          alt=""
          class="illustration"
        />
      </div>

      <div class="content">
        <p class="title">How we behave</p>

        <h1 class="header">
          We are focused on the African Woman. We are creators breaking
          barriers, caregivers, enablers, guardians, goal getters. We have an
          entrepreneurial mindset and are eternal optimists.
        </h1>
      </div>
    </div>
  </div>
</div>
