<div id="home-why-we-exist">
  <div class="container">
    <div class="grid-container">
      <div class="content">
        <p class="title">Why we exist</p>

        <h1 class="header">
          To empower, promote and develop women to occupy key roles in the
          Tourism & Hospitality industry in Africa.
        </h1>

        <div class="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos,
          deserunt doloribus? Consequatur, aliquid! Iste ipsam illum mollitia at
          nam quis vero, enim ad possimus perferendis accusantium autem, cum
          totam quod?
        </div>
      </div>
      
      <div class="illustration-container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        consequuntur, doloremque, ratione nihil architecto assumenda eum
        explicabo nobis libero nemo ipsam eius. Earum iste iure nihil esse
        necessitatibus dolorem impedit.
      </div>
    </div>
  </div>
</div>
