<div id="home-why-we-exist">
  <div class="container">
    <div class="grid-container">
      <div class="content">
        <p class="title">Why we exist</p>

        <h1 class="header">
          To empower, promote and develop women to occupy key roles in the
          Tourism & Hospitality industry in Africa.
        </h1>

        <div class="stepper-container">
          <div class="progress-bar-container">
            <div #progressBar class="progress-bar"></div>
          </div>

          <div class="steps">
            <div
              class="step"
              [ngClass]="{ active: progressBarHeight < 73.33333333333333 }"
            >
              Empower women
            </div>
            <div
              class="step"
              [ngClass]="{
                active:
                  progressBarHeight > 73.33333333333333 &&
                  progressBarHeight < 146.6666666666667
              }"
            >
              Promote women
            </div>
            <div
              class="step"
              [ngClass]="{
                active:
                  progressBarHeight > 146.6666666666667 &&
                  progressBarHeight < 220
              }"
            >
              Develop women to occupy key roles
            </div>
          </div>
        </div>
      </div>

      <div class="illustration-container">
        <div class="rectangle-1">
          <div class="rectangle-2"></div>
          <div class="rectangle-3"></div>
          <div class="rectangle-4">
            <h3 class="box-header">
              <ng-container *ngIf="progressBarHeight < 73.33333333333333"
                >Empower women</ng-container
              >
              <ng-container
                *ngIf="
                  progressBarHeight > 73.33333333333333 &&
                  progressBarHeight < 146.6666666666667
                "
                >Promote women</ng-container
              >
              <ng-container
                *ngIf="
                  progressBarHeight > 146.6666666666667 &&
                  progressBarHeight < 220
                "
              >
                Develop women to occupy key roles</ng-container
              >
            </h3>
            <p class="box-content">
              We have committed to empowering our own African Women to grow, to
              deliver impactful, engaging and transformational work through best
              practices for the industry we are passionate about.
            </p>
            <button class="btn box-btn">Join</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
