<div id="home-why-we-exist">
  <div class="container">
    <div class="grid-container">
      <div class="content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        repellendus, praesentium dolor incidunt reiciendis laborum ducimus vero
        aliquam dolorum quos repellat ipsum quis error veniam consectetur nihil
        debitis iste illum.
      </div>
      <div class="illustration-container">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae
        consequuntur, doloremque, ratione nihil architecto assumenda eum
        explicabo nobis libero nemo ipsam eius. Earum iste iure nihil esse
        necessitatibus dolorem impedit.
      </div>
    </div>
  </div>
</div>
