#home-why-we-exist {
  background: var(--background-white);
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;

  .grid-container {
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: 1.875rem;
  }

  .content {
  }

  .illustration-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .illustration {
      max-width: 100%;
    }
  }
}

@media screen and (min-width: 992px) {
  #home-why-we-exist {
    .container {
      max-width: 1310px;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 991.98px) {
  #home-why-we-exist {
  }
}

@media screen and (max-width: 767.98px) {
  #home-why-we-exist {
  }
}
