#home-why-we-exist {
  background: var(--background-white);
  padding-top: 5.625rem;
  padding-bottom: 5.625rem;

  .grid-container {
    display: grid;
    grid-template-columns: 4.5fr 7.5fr;
    gap: 1.875rem;
  }

  .content {
    .title {
      font-size: 1rem;
      line-height: 1.75rem;
      font-weight: 700;
      margin-bottom: 1rem;
      color: var(--primary);
    }

    .header {
      font-size: 1.5rem;
      line-height: 2.25rem;
      font-weight: 600;
      margin-bottom: 2.1875rem;
    }

    .stepper-container {
      display: grid;
      grid-template-columns: 0.09375rem 1fr;
      gap: 1.25rem;

      .progress-bar-container {
        position: relative;
        width: 0.09375rem;
        height: 200px;
        background: #f0f1f7;

        .progress-bar {
          position: absolute;
          top: 0;
          left: 0;
          background: var(--primary);
          width: 0.09375rem;
          height: 0px;
          -webkit-transition: height 0.25s linear;
          -o-transition: height 0.25s linear;
          transition: height 0.25s linear;
        }
      }

      .steps {
        .step {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: start;
          -ms-flex-align: start;
          align-items: flex-start;
          -webkit-box-pack: start;
          -ms-flex-pack: start;
          justify-content: flex-start;
          height: 83.33333333333333px;
          font-size: 1rem;
          -webkit-transition: font-weight 0.25s linear;
          -o-transition: font-weight 0.25s linear;
          transition: font-weight 0.25s linear;

          &.active {
            font-size: 1.125rem;
            font-weight: 700;
          }
        }
      }
    }
  }

  .illustration-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    .rectangle-1 {
      position: relative;
      height: 60%;
      width: 80%;
      border-radius: 0.75rem;
      background: var(--tertiary-light);

      .rectangle-2 {
        position: absolute;
        top: -50%;
        right: 2.5rem;
        border-radius: 0.75rem;
        // background: var(--secondary);
        height: 115%;
        width: 55%;
        background: url(/assets/images/why-we-exist1.png);
        background-position: center;
        background-size: cover;
      }

      .rectangle-3 {
        position: absolute;
        bottom: 1.75rem;
        left: -5.3125rem;
        border-radius: 0.75rem;
        // background: var(--primary);
        height: 95%;
        width: 55%;
        background: url(/assets/images/why-we-exist2.png);
        background-position: center;
        background-size: cover;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  #home-why-we-exist {
    .container {
      max-width: 1310px;
      padding-left: 20px;
      padding-right: 20px;
      width: 100%;
    }
  }
}

@media screen and (max-width: 991.98px) {
  #home-why-we-exist {
    .grid-container {
      grid-template-columns: 1fr;
      gap: 3.125rem;
    }

    .content {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
    }

    .illustration-container {
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1;

      //   .illustration {
      //     max-width: 100%;
      //   }
    }
  }
}

@media screen and (max-width: 767.98px) {
  #home-why-we-exist {
    .content {
      .header {
        font-size: 1.25rem;
        line-height: 2rem;
      }
    }
  }
}
