<div id="who-we-are-our-story">
  <div class="container">
    <div class="grid-container">
      <div class="illustration-container">
        <img src="/assets/images/what-we-do.jpg" alt="" class="illustration" />
      </div>

      <div class="content">
        <p class="title">Our Story</p>

        <div class="info">
          <span>The AAWTH Community</span>—our employees, registered members,
          partners, sponsors, stakeholders and mentors —are The Change Makers .
          We believe the best way to predict the future is to define it. We put
          the power back into our own hands and shatter the status quo.Our love
          of the industry makes us masters of our craft and ready for new
          challenges. We follow our passions, live our core values (creators
          breaking barriers, caregivers, enablers, guardians, goal getters,
          entrepreneurial mindset and eternaloptimists) and change the game with
          an empowering ecosystem, led by women with disruptive ideas and
          elegant solutions .
        </div>
      </div>
    </div>
  </div>
</div>
